body {
    font-family: sans-serif;
}
header {
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

h1{
    text-align: center;
    color: magenta;
    border: 1px solid magenta;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

footer p {
    background-color: pink;
}

.products {
    background-color: pink;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
